<page-header model="navModel"></page-header>

<div class="page-container page-body">
	<div class="signup">
		<h3 class="p-b-1">Passwort zurücksetzen</h3>
		<form name="sendResetForm" class="login-form gf-form-group" ng-show="mode === 'send'">
			<div class="gf-form">
					<span class="gf-form-label width-7">Benutzer</span>
					<input type="text" name="username" class="gf-form-input max-width-14" required ng-model='formModel.userOrEmail' placeholder="Email oder Benutzername">
			</div>
			<div class="gf-form-button-row">
				<button type="submit" class="btn btn-success" ng-click="sendResetEmail();" ng-disabled="!sendResetForm.$valid">
					Passwort zurücksetzen
				</button>
				<a href="login" class="btn btn-inverse">
					Zurück
				</a>

			</div>
		</form>
		<div ng-show="mode === 'email-sent'">
			Eine Email mit einem Link wurde an Ihre Emailadresse versendet. <br>
			Sie sollten diese in kürze erhalten.
			<div class="p-t-1">
				<a href="login" class="btn btn-success p-t-1">
					Anmelden
				</a>
			</div>
		</div>
		<form name="resetForm" class="login-form gf-form-group" ng-show="mode === 'reset'">
			<div class="gf-form">
				<span class="gf-form-label width-9">Neues Passwort</span>
				<input type="password" name="NewPassword" class="gf-form-input max-width-14" required ng-minlength="4" ng-model='formModel.newPassword' placeholder="Passwort" watch-change="formModel.newPassword = inputValue;">
			</div>
			<div class="gf-form">
				<span class="gf-form-label width-9">Passwort bestätigen</span>
				<input type="password" name="ConfirmPassword" class="gf-form-input max-width-14" required ng-minlength="4" ng-model='formModel.confirmPassword' placeholder="Passwort bestaetigen">
			</div>
			<div class="signup__password-strength">
				<password-strength password="formModel.newPassword"></password-strength>
			</div>
			<div class="gf-form-button-row">
				<button type="submit" class="btn btn-success" ng-click="submitReset();" ng-disabled="!resetForm.$valid">
					Passwort zurücksetzen
				</button>
			</div>
		</form>
	</div>
</div>
