<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-info-circle"></i>
			<span class="p-l-1">Alarm hinzufügen</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>


	<div class="modal-content">
		<div class="text-center">
			<img src="public/img/alert_howto_new.png"></img>
		</div>
		<p class="p-a-2 text-center offset-lg-1 col-lg-10">
			Warnungen werden auf der Registerkarte <strong>Alarm Tab / Meldung Tab</strong> in jedem Dashboard-Diagrammfenster hinzugefügt
			und konfiguriert, sodass Sie mithilfe vorhandener Abfragen eine Warnung erstellen und visualisieren können.
			<br> <br>
			Um Änderungen an den Warnungen zu vermeiden, sollten Sie das Dashboard speichern.
			<br>
			<br>
		</p>
	</div>

</div>

