<div class="editor-row">
	<h5 class="section-heading">Zeitoptionen</h5>

  <div class="gf-form-group">
		<div class="gf-form">
			<label class="gf-form-label width-10">Zeitzone</label>
			<div class="gf-form-select-wrapper">
				<select ng-model="ctrl.dashboard.timezone" class='gf-form-input' ng-options="f.value as f.text for f in [{value: '', text: 'Standard'}, {value: 'browser', text: 'Lokale Browserzeit'},{value: 'utc', text: 'UTC'}]" ng-change="timezoneChanged()"></select>
			</div>
		</div>

		<div class="gf-form">
			<span class="gf-form-label width-10">Automatische Aktualisierung</span>
			<input type="text" class="gf-form-input max-width-25" ng-model="ctrl.panel.refresh_intervals" array-join>
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-10">Jetzt verzögern jetzt-</span>
			<input type="text" class="gf-form-input max-width-25" ng-model="ctrl.panel.nowDelay" placeholder="0m" valid-time-span bs-tooltip="'Geben Sie 1m ein, um die letzte Minute zu ignorieren (da sie unvollständige Metriken enthalten kann)'"
																																																												 data-placement="right">
		</div>

		<gf-form-switch class="gf-form" label="Zeitauswahl ausblenden" checked="ctrl.panel.hidden" label-class="width-10"></gf-form-switch>
	</div>
</div>
