<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body">

	<div class="grafana-info-box span8" style="margin: 20px 0 25px 0">
		Diese Systemeinstellungen sind in der grafana.ini oder custom.ini deklariert (oder in den ENV Variablen überschrieben).
		Um diese zu ändern müssen Sie Grafana neustarten.
	</div>

	<table class="filter-table">
		<tr ng-repeat-start="(secName, secValue) in settings">
			<td class="admin-settings-section">{{secName}}</td>
			<td></td>
		</tr>
		<tr ng-repeat="(keyName, keyValue) in secValue" ng-repeat-end>
			<td style="padding-left: 25px;">{{keyName}}</td>
			<td>{{keyValue}}</td>
		</tr>
	</table>
</div>



