<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body">
	<table class="filter-table form-inline">
		<thead>
			<tr>
				<th>Name</th>
				<th>Wert</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Alle Dashboards</td>
				<td>{{ctrl.stats.dashboards}}</td>
			</tr>
			<tr>
				<td>Alle Benutzer</td>
				<td>{{ctrl.stats.users}}</td>
			</tr>
			<tr>
				<td>Aktive Benutzer (Die letzten 14 Tage)</td>
				<td>{{ctrl.stats.activeUsers}}</td>
			</tr>
			<tr>
				<td>Alle Organisationen</td>
				<td>{{ctrl.stats.orgs}}</td>
			</tr>
			<tr>
				<td>Alle Datenquellen</td>
				<td>{{ctrl.stats.datasources}}</td>
			</tr>
			<tr>
				<td>Alle Playlisten</td>
				<td>{{ctrl.stats.playlists}}</td>
			</tr>
			<tr>
				<td>Alle Snapshots</td>
				<td>{{ctrl.stats.snapshots}}</td>
			</tr>
			<tr>
				<td>Alle Dashboard Tags</td>
				<td>{{ctrl.stats.tags}}</td>
			</tr>
			<tr>
				<td>Alle markierten Dashboards</td>
				<td>{{ctrl.stats.stars}}</td>
			</tr>
      <tr>
				<td>Alle Meldungen</td>
				<td>{{ctrl.stats.alerts}}</td>
			</tr>
		</tbody>
	</table>
</div>
