<div ng-controller="VariableEditorCtrl" ng-init="init()">

	<h3 class="dashboard-settings__header">
		<a ng-click="setMode('list')">Variablen</a>
		<span ng-show="mode === 'new'">&gt; Neu</span>
		<span ng-show="mode === 'edit'">&gt; Bearbeiten</span>
	</h3>

	<div ng-if="mode === 'list'">

		<div ng-if="variables.length === 0">
			<div class="empty-list-cta">
				<div class="empty-list-cta__title">Es wurden noch keine Variablen hinzugefügt</div>
				<a ng-click="setMode('new')" class="empty-list-cta__button btn btn-xlarge btn-success">
					<i class="gicon gicon-add-variable"></i>
					Variable hinzufügen
				</a>
				<div class="grafana-info-box">
					<h5>Was machen Variablen?</h5>
					<p>Variablen ermöglichen mehr interaktive und dynamische Dashboards. Anstatt Dinge wie Server- oder Sensornamen
					in ihren Metrikabfragen hart zu codieren, können Sie stattdessen Variablen verwenden. Variablen werden als Dropdownauswahlfelder
					oben im Dashboard angezeigt. Diese Dropdowns machen es einfach die angezeigten Daten die im Dashboard angezeit werden, zu ändern.

					Besuchen Sie die
					<a class="external-link" href="http://docs.grafana.org/reference/templating/" target="_blank">
						Templating Dokumentation
					</a> für mehr Informationen.
				</div>
			</div>
		</div>

		<div ng-if="variables.length">
			<div class="page-action-bar">
				<div class="page-action-bar__spacer"></div>
				<a type="button" class="btn btn-success" ng-click="setMode('new');"><i class="fa fa-plus" ></i> Neu</a>
			</div>

			<table class="filter-table filter-table--hover">
				<thead>
					<tr>
						<th>Variablen</th>
						<th>Definitionen</th>
						<th colspan="5"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="variable in variables">
						<td style="width: 1%">
							<span ng-click="edit(variable)" class="pointer template-variable">
								${{variable.name}}
							</span>
						</td>
						<td style="max-width: 200px;" ng-click="edit(variable)" class="pointer max-width">
							{{variable.query}}
						</td>
						<td style="width: 1%"><i ng-click="_.move(variables,$index,$index-1)" ng-hide="$first" class="pointer fa fa-arrow-up"></i></td>
						<td style="width: 1%"><i ng-click="_.move(variables,$index,$index+1)" ng-hide="$last" class="pointer fa fa-arrow-down"></i></td>
						<td style="width: 1%">
							<a ng-click="duplicate(variable)" class="btn btn-inverse btn-mini">
								Duplizieren
							</a>
						</td>
						<td style="width: 1%">
							<a ng-click="removeVariable(variable)" class="btn btn-danger btn-mini">
								<i class="fa fa-remove"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<form ng-if="mode === 'edit' || mode === 'new'" name="ctrl.form">
		<h5 class="section-heading">Allgemein</h5>
		<div class="gf-form-group">
			<div class="gf-form-inline">
				<div class="gf-form max-width-19">
					<span class="gf-form-label width-6">Name</span>
					<input type="text" class="gf-form-input" name="name" placeholder="name" ng-model='current.name' required ng-pattern="namePattern"></input>
				</div>
				<div class="gf-form max-width-19">
					<span class="gf-form-label width-6">
						Typ
						<info-popover mode="right-normal">
							{{variableTypes[current.type].description}}
						</info-popover>
					</span>
					<div class="gf-form-select-wrapper max-width-17">
						<select class="gf-form-input" ng-model="current.type" ng-options="k as v.name for (k, v) in variableTypes" ng-change="typeChanged()"></select>
					</div>
				</div>
			</div>

			<div class="gf-form" ng-show="ctrl.form.name.$error.pattern">
				<span class="gf-form-label gf-form-label--error">Template Namen können nicht mit '__' anfangen, diese sind für Grafana's globale Variablen reserviert</span>
			</div>

			<div class="gf-form-inline">
				<div class="gf-form max-width-19">
					<span class="gf-form-label width-6">Label</span>
					<input type="text" class="gf-form-input" ng-model='current.label' placeholder="Optionaler Anzeigename"></input>
				</div>
				<div class="gf-form max-width-19">
					<span class="gf-form-label width-6">Verstecken</span>
					<div class="gf-form-select-wrapper max-width-15">
						<select class="gf-form-input" ng-model="current.hide" ng-options="f.value as f.text for f in hideOptions"></select>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="current.type === 'interval'" class="gf-form-group">
			<h5 class="section-heading">Intervall Optionen</h5>

			<div class="gf-form">
				<span class="gf-form-label width-9">Werte</span>
				<input type="text" class="gf-form-input" placeholder="Name" ng-model='current.query' placeholder="1m,10m,1h,6h,1d,7d" ng-model-onblur ng-change="runQuery()" required></input>
			</div>

			<div class="gf-form-inline">
				<gf-form-switch class="gf-form" label="Auto Option" label-class="width-9" checked="current.auto" on-change="runQuery()">
				</gf-form-switch>

				<div class="gf-form">
					<span class="gf-form-label width-9" ng-show="current.auto">
						Schrittzähler <tip>Wie oft sollte der aktuelle Zeitbereich geteilt werden, um den Wert zu berechnen</tip>
					</span>
					<div class="gf-form-select-wrapper max-width-10" ng-show="current.auto">
						<select class="gf-form-input" ng-model="current.auto_count" ng-options="f for f in [1,2,3,4,5,10,20,30,40,50,100,200,300,400,500]" ng-change="runQuery()"></select>
					</div>
				</div>
				<div class="gf-form">
					<span class="gf-form-label" ng-show="current.auto">
						Minimaler Intervall <tip>Der berechnete Wert wird diesen Schwellenwert nicht unterschreiten</tip>
					</span>
					<input type="text" class="gf-form-input max-width-10" ng-show="current.auto" ng-model="current.auto_min" ng-change="runQuery()" placeholder="10s"></input>
				</div>
			</div>
		</div>

		<div ng-if="current.type === 'custom'" class="gf-form-group">
			<h5 class="section-heading">Benutzerdefinierte Optionen</h5>
			<div class="gf-form">
				<span class="gf-form-label width-14">Werte getrennt durch komma</span>
				<input type="text" class="gf-form-input" ng-model='current.query' ng-blur="runQuery()" placeholder="1, 10, 20, myvalue" required></input>
			</div>
		</div>

		<div ng-if="current.type === 'constant'" class="gf-form-group">
			<h5 class="section-heading">Konstante Optionen</h5>
			<div class="gf-form">
				<span class="gf-form-label">Wert</span>
				<input type="text" class="gf-form-input" ng-model='current.query' ng-blur="runQuery()" placeholder="Ihr metrischer Präfix"></input>
			</div>
		</div>

		<div ng-if="current.type === 'query'" class="gf-form-group">
			<h5 class="section-heading">Abfrageoptionen</h5>

			<div class="gf-form-inline">
				<div class="gf-form max-width-21">
					<span class="gf-form-label width-7">Datenquelle</span>
					<div class="gf-form-select-wrapper max-width-14">
						<select class="gf-form-input" ng-model="current.datasource" ng-options="f.value as f.name for f in datasources" required>
							<option value="" ng-if="false"></option>
						</select>
					</div>
				</div>
				<div class="gf-form max-width-22">
					<span class="gf-form-label width-7">
						Aktualisieren
						<info-popover mode="right-normal">
							Wann aktualisieren Sie die Werte dieser Variablen.
						</info-popover>
					</span>
					<div class="gf-form-select-wrapper width-15">
						<select class="gf-form-input" ng-model="current.refresh" ng-options="f.value as f.text for f in refreshOptions"></select>
					</div>
				</div>
			</div>
			<div class="gf-form">
				<span class="gf-form-label width-7">Abfrage</span>
				<input type="text" class="gf-form-input" ng-model='current.query' placeholder="Metrischer Name oder Tag abfrage" ng-model-onblur ng-change="runQuery()" required></input>
			</div>
			<div class="gf-form">
				<span class="gf-form-label width-7">
					Regex
					<info-popover mode="right-normal">
						Optional, wenn Sie einen Teil eines Seriennamens oder eines metrischen Knotensegments extrahieren möchten.
					</info-popover>
				</span>
				<input type="text" class="gf-form-input" ng-model='current.regex' placeholder="/.*-(.*)-.*/" ng-model-onblur ng-change="runQuery()"></input>
			</div>
			<div class="gf-form max-width-21">
				<span class="gf-form-label width-7">
					Sortieren
					<info-popover mode="right-normal">
						So sortieren Sie die Werte dieser Variablen.
					</info-popover>
				</span>
				<div class="gf-form-select-wrapper max-width-14">
					<select class="gf-form-input" ng-model="current.sort" ng-options="f.value as f.text for f in sortOptions" ng-change="runQuery()"></select>
				</div>
			</div>
		</div>

		<div ng-show="current.type === 'datasource'" class="gf-form-group">
			<h5 class="section-heading">Datenquellen Optionen</h5>

			<div class="gf-form">
				<label class="gf-form-label width-12">Typ</label>
				<div class="gf-form-select-wrapper max-width-18">
					<select class="gf-form-input" ng-model="current.query" ng-options="f.value as f.text for f in datasourceTypes" ng-change="runQuery()"></select>
				</div>
			</div>

			<div class="gf-form">
				<label class="gf-form-label width-12">
					Instanznamen Filter
					<info-popover mode="right-normal">
						Regex-Filter, für den Datenquelleninstanzen in der Dropdown-Liste mit den
						Variablenwerten ausgewählt werden können. Leer lassen für alles.
						<br><br>
						Beispiel: <code>/^prod/</code>

					</info-popover>
				</label>
				<input type="text" class="gf-form-input max-width-18" ng-model='current.regex' placeholder="/.*-(.*)-.*/" ng-model-onblur ng-change="runQuery()"></input>
			</div>
		</div>

		<div ng-if="current.type === 'adhoc'" class="gf-form-group">
			<h5 class="section-heading">Optionen</h5>
			<div class="gf-form max-width-21">
				<span class="gf-form-label width-8">Datenquelle</span>
				<div class="gf-form-select-wrapper max-width-14">
					<select class="gf-form-input" ng-model="current.datasource" ng-options="f.value as f.name for f in datasources" required ng-change="validate()">
						<option value="" ng-if="false"></option>
					</select>
				</div>
			</div>
		</div>

		<div class="section gf-form-group" ng-show="variableTypes[current.type].supportsMulti">
			<h5 class="section-heading">Auswahl Optionen</h5>
			<div class="section">
				<gf-form-switch class="gf-form"
										label="Multi-value"
					label-class="width-10"
		 tooltip="Ermöglicht mehrere Werte zur gleichen Zeit auszuwählen"
	 checked="current.multi"
	on-change="runQuery()">
				</gf-form-switch>
				<gf-form-switch class="gf-form"
										label="Alle Optionen einschließen"
					label-class="width-10"
		 checked="current.includeAll"
	 on-change="runQuery()">
				</gf-form-switch>
			</div>
			<div class="gf-form" ng-if="current.includeAll">
				<span class="gf-form-label width-10">Benutzerdefinierte alle Werte</span>
				<input type="text" class="gf-form-input max-width-15" ng-model='current.allValue' placeholder="Leer = auto"></input>
			</div>
		</div>

		<div class="gf-form-group" ng-if="current.type === 'query'">
			<h5>Wertgruppen/Tags (Experimentales Feature)</h5>
			<gf-form-switch class="gf-form" label="Enabled" label-class="width-10" checked="current.useTags" on-change="runQuery()">
			</gf-form-switch>
			<div class="gf-form last" ng-if="current.useTags">
				<span class="gf-form-label width-10">Tags Abfrage</span>
				<input type="text" class="gf-form-input" ng-model='current.tagsQuery' placeholder="Metric Name oder Tags Abfrage" ng-model-onblur></input>
			</div>
			<div class="gf-form" ng-if="current.useTags">
				<li class="gf-form-label width-10">Abfrage der Tag-Werte</li>
				<input type="text" class="gf-form-input" ng-model='current.tagValuesQuery' placeholder="apps.$tag.*" ng-model-onblur></input>
			</div>
		</div>

		<div class="gf-form-group" ng-show="current.options.length">
			<h5>Vorschau der Werte (Zeigt maximal 20)</h5>
			<div class="gf-form-inline">
				<div class="gf-form" ng-repeat="option in current.options | limitTo: 20">
					<span class="gf-form-label">{{option.text}}</span>
				</div>
			</div>
		</div>

		<div class="alert alert-info gf-form-group" ng-if="infoText">
			{{infoText}}
		</div>

		<div class="gf-form-button-row p-y-0">
			<button type="submit" class="btn btn-success" ng-show="mode === 'edit'" ng-click="update();">Aktualisieren</button>
			<button type="submit" class="btn btn-success" ng-show="mode === 'new'" ng-click="add();">Hinzufuegen</button>
		</div>

	</form>
</div>

