<aside class="dashboard-settings__aside">
	<h2 class="dashboard-settings__aside-header">
		<i class="fa fa-cog"></i>
		Einstellungen
	</h2>

	<a href="{{::section.url}}" class="dashboard-settings__nav-item" ng-class="{active: ctrl.viewId === section.id}" ng-repeat="section in ctrl.sections">
    <i class="{{::section.icon}}"></i>
		{{::section.title}}
	</a>

	<div class="dashboard-settings__aside-actions">
    <button class="btn btn-success" ng-click="ctrl.saveDashboard()" ng-show="ctrl.canSave">
			<i class="fa fa-save"></i> Speichern
		</button>
		<button class="btn btn-inverse" ng-click="ctrl.openSaveAsModal()" ng-show="ctrl.canSaveAs">
			<i class="fa fa-copy"></i>
			Speichern als...
		</button>
		<button class="btn btn-danger" ng-click="ctrl.deleteDashboard()" ng-show="ctrl.canDelete">
			<i class="fa fa-trash"></i>
			Löschen
		</button>
	</div>
</aside>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'settings'">
	<h3 class="dashboard-settings__header">
		Allgemeines
	</h3>

	<div class="gf-form-group">
		<div class="gf-form">
			<label class="gf-form-label width-7">Name</label>
			<input type="text" class="gf-form-input width-30" ng-model='ctrl.dashboard.title'></input>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-7">Beschreibung</label>
			<input type="text" class="gf-form-input width-30" ng-model='ctrl.dashboard.description'></input>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-7">
				Tags
				<info-popover mode="right-normal">Drücke Enter um einen Tag hinzuzufügen</info-popover>
			</label>
			<bootstrap-tagsinput ng-model="ctrl.dashboard.tags" tagclass="label label-tag" placeholder="Tags hinzufügen">
			</bootstrap-tagsinput>
		</div>
		<folder-picker initial-title="ctrl.dashboard.meta.folderTitle"
									 initial-folder-id="ctrl.dashboard.meta.folderId"
									 on-change="ctrl.onFolderChange($folder)"
									 enable-create-new="true"
									 is-valid-selection="true"
									 label-class="width-7">
		</folder-picker>
		<gf-form-switch class="gf-form" label="Bearbeitbar" tooltip="Entfernen Sie das Häkchen, speichern Sie die Datei und laden Sie diese erneut, damit das Dashboard nicht mehr bearbeitet werden kann" checked="ctrl.dashboard.editable" label-class="width-7">
		</gf-form-switch>
	</div>

	<gf-time-picker-settings dashboard="ctrl.dashboard"></gf-time-picker-settings>

	<h5 class="section-heading">Bedienfeldoptionen</h5>
	<div class="gf-form">
		<label class="gf-form-label width-11">
			Graph Tooltip
			<info-popover mode="right-normal">
				Wechseln Sie zwischen den Optionen mithilfe der Tastenkombination: CTRL+O or CMD+O
			</info-popover>
		</label>
		<div class="gf-form-select-wrapper">
			<select ng-model="ctrl.dashboard.graphTooltip" class='gf-form-input' ng-options="f.value as f.text for f in [{value: 0, text: 'Default'}, {value: 1, text: 'Geteiltes Fadenkreuz'},{value: 2, text: 'Geteilter Tooltip'}]"></select>
		</div>
	</div>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'annotations'" ng-include="'public/app/features/annotations/partials/editor.html'">
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'templating'"  ng-include="'public/app/features/templating/partials/editor.html'">
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'links'" >
	<dash-links-editor dashboard="ctrl.dashboard"></dash-links-editor>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'versions'" >
	<gf-dashboard-history dashboard="dashboard"></gf-dashboard-history>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'view_json'" >
	<h3 class="dashboard-settings__header">JSON Anzeigen</h3>

	<div class="gf-form">
		<code-editor content="ctrl.json" data-mode="json" data-max-lines=30 ></code-editor>
	</div>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'permissions'" >
  <dashboard-permissions ng-if="ctrl.dashboard && !ctrl.hasUnsavedFolderChange"
    dashboardId="ctrl.dashboard.id"
    backendSrv="ctrl.backendSrv"
    folder="ctrl.getFolder()"
  />
  <div ng-if="ctrl.hasUnsavedFolderChange">
    <h5>Sie haben den Ordner gewechselt, bitte speichern Sie die Anzeigerechte.</h5>
  </div>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === '404'">
  <h3 class="dashboard-settings__header">Einstellungsansicht nicht gefunden</h3>

  <div>
    <h5>Die Einstellungsseite konnte nicht gefunden werden oder Sie sind nicht berechtigt, darauf zuzugreifen</h5>
  </div>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'make_editable'">
  <h3 class="dashboard-settings__header">Bearbeitbar machen</h3>

  <button class="btn btn-success" ng-click="ctrl.makeEditable()">
    Bearbeitbar machen
  </button>
</div>

