<!-- This email is sent when an existing user is added to an organization -->

[[Subject .Subject "[[.InvitedBy]] hat Sie zu der Organisation [[.OrgName]] hinzugefügt"]]

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h4 class="center">Sie wurden zur Organisation [[.OrgName]] hinzugefügt</h4>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<p><b>[[.InvitedBy]]</b> hat Sie zu der Organisation <b>[[.OrgName]]</b> in Grafana hinzugefügt.
						<p>Einmal eingeloggt, wird [[.OrgName]] im linken Seitenmenü verfügbar sein. Dieser Link steht im Dropdownmenü unter Ihrem Benutzernamen.</p>
					</td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td class="center">
						<table class="better-button" align="center" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="center" class="better-button" bgcolor="#ff8f2b"><a href="[[.AppUrl]]" target="_blank">Jetzt einloggen</a></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


