<!-- This email is sent when user who does not already exist in Grafana is added to an organization -->

[[Subject .Subject "[[.InvitedBy]] hat Sie eingeladen um Grafana beizutreten"]]

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h4 class="center">Sie wurden eingeladen [[.OrgName]] beizutreten</h4>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<p>Sie wurden eingeladen der <b>[[.OrgName]]</b> Organisation von <b>[[.InvitedBy]]</b> beinzutreten. Um die Einladung anzunehmen und dem Team beizutreten, drücken Sie bitte den folgenden Link:</p>
					</td>
				</tr>
				<tr>				
					<td class="center">
	                    <table class="better-button" align="center" border="0" cellspacing="0" cellpadding="0">
	                    	<tr>
	                          <td align="center" class="better-button" bgcolor="#ff8f2b"><a href="[[.LinkUrl]]" target="_blank">Einladung annehmen</a></td>
	                        </tr>
	                    </table>
					</td>
				</tr>
				<tr>
					<td class="center">
						<p>Sie können diesen Link auch direkt in Ihren Browser kopieren/einfügen: <a href="[[.LinkUrl]]">[[.LinkUrl]]</a></p>
					</td>								
					<td class="expander"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>