[[Subject .Subject "Willkommen bei Grafana, bitte vervollständigen Sie Ihre Registrierung!"]]

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h4 class="center">Registrierung abschließen</h4>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						Kopieren Sie den Bestätigungscode und geben Sie ihn ein:<br>
						<span class="verification-code">[[.Code]]</span><br> in
						dem Formulierungsformular <strong>oder</strong> den Link unten.
					</td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td class="center">
						<table class="better-button" align="center" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="center" class="better-button" bgcolor="#ff8f2b"><a href="[[.SignUpUrl]]" target="_blank">Registrierung abschließen</a></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


