[[Subject .Subject "Willkommen bei Grafana"]]

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h4>Hallo [[.Name]],</h4>
					</td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td>
						Willkommen! Bereit, ein paar schöne metrische und analytische Dashboards zu erstellen?
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<p>
							Wenn Sie neu bei Grafana sind, lesen Sie bitte den <a href="http://docs.grafana.org/guides/gettingstarted/">Getting Started</a> Guide.
						</p>
					</td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td>
						Danke für das beitreten unserer Community.
						<br />
						<p>Das Grafana Team</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


