<page-header model="navModel"></page-header>

<div class="page-container page-body">
	<h2 class="page-sub-heading">
		Passwort ändern
	</h2>

	<div ng-if="ldapEnabled || authProxyEnabled">
		Sie können Ihr Passwort nicht ändern wenn ldap oder proxy authentifizierung aktiviert ist.
	</div>

	<form name="userForm" class="gf-form-group" ng-hide="ldapEnabled || authProxyEnabled">
		<div class="gf-form">
			<span class="gf-form-label width-10">Altes Passwort</span>
			<input class="gf-form-input max-width-21" type="password" required ng-model="command.oldPassword">
		</div>

		<div class="gf-form">
			<span class="gf-form-label width-10">Neues Passwort</span>
			<input class="gf-form-input max-width-21" type="password" required ng-minlength="4"  ng-model="command.newPassword">
		</div>

		<div class="gf-form">
			<span class="gf-form-label width-10">Passwort bestätigen</span>
			<input class="gf-form-input max-width-21" type="password" required ng-minlength="4"  ng-model="command.confirmNew">
		</div>

		<div class="gf-form-button-row">
			<button type="submit" class="btn btn-success" ng-click="changePassword()">Passwort ändern</button>
			<a class="btn-text" href="profile">Abbrechen</a>
		</div>
	</form>

</div>

