<page-header model="navModel"></page-header>

<div class="page-container page-body" ng-form="playlistEditForm">
	<h2 class="page-sub-heading">
		Neue Organisation
	</h2>

	<p class="playlist-description">Jede Organisation enthält ihre eigenen Dashboards, Datenquellen und Konfigurationen und kann nicht von Organisationen gemeinsam genutzt werden. Während Benutzer mehreren Benutzern angehören können, werden in Bereitstellungen mit mehreren Mandanten häufig mehrere Organisationen verwendet. </p>

	<form>
		<div class="gf-form-group">
			<div class="gf-form">
				<span class="gf-form-label width-10">Org. name</span>
				<input type="text" ng-model="newOrg.name" required class="gf-form-input max-width-21" placeholder="Organisations Name">
			</div>
			<br>
			<div class="gf-form-buttons-row">
				<button type="submit" class="btn btn-success" ng-click="createOrg()">Erstellen</button>
			</div>
		</div>
	</form>
</div>
